[alias]
	p = pull
	ps = push
	cm = commit -m
	co = checkout
	st = status
	br = branch
	pop = stash pop
	cob = checkout -b
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[user]
	email = lang_cl@outlook.com
	name = Lang-Cheng
[credential]
	helper = manager-core
[pull]
	ff = only
