[user]
    name = your_name
    email = your_email_address
[credential]
    helper = manager-core
[core]
    autocrlf = true
    ignorecase = false
[pull]
    ff = only
[alias]
    p = pull
    pom = pull origin master
    ps = push
    cm = commit -m
    co = checkout
    cob = checkout -b
    st = status --short --branch
    br = branch
    pop = stash pop
    undo = reset --soft HEAD~1
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
